@import url('http://fonts.cdnfonts.com/css/facebook-sans');

*{
    font-size: 14px;
    font-family: Helvetica, sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    color: #1c1e21;
}
main{
    width: 1000px;
    margin: 0 auto;
    margin-top: 120px;
}

#chamada-facebook{
    margin-top: 100px;
    width: 370px;
    float: left;
}

#chamada-facebook h1{
    font-size: 52px;
    font-weight: bolder;
    color: #1877f2;
    font-family: 'Facebook sans', sans-serif;
}

#chamada-facebook p{
    font-size: 26px;
    line-height: 32px;
    width: 500px;
}

form{
    
    float: right;
    width: 350px;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0 , 0, 0.1), 0 8px 16px rgb(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 14px;
    margin: 120px 20px 20px 20px;
}

form input[type="text"], form input[type="password"]{
    width: 320px;
    height: 22px;
    margin-bottom: 10px;
    padding: 18px;
    font-size: 16px;



    color: #1d2129;
    outline: none;
    caret-color: #005eff;
    border-radius: 5px;
    border: 1px solid #dddfe2;
}

form input[type="text"], form input[type="password"]:focus{
    border: 1px solid #005eff;

}

form input:focus::placeholder{
    color: #888c92;
}
form input:focus::placeholder{
    color: #c1c5ce;
}

form input[type="submit"]{
    width: 315px;
    border: none;
    padding: 14px;
    
    border-radius: 6px;
    font-size: 20px;
    background-color:  #008eff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

form input[type="submit"]:hover{
    background-color: #0077ff;
    
}

.esqueceuSenha{
    display: block;


    text-decoration: none;
    color: #0077ff;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.esqueceuSenha:hover{
    text-decoration: underline;
}